.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 600px;
 
}
button{
  
  margin: 2px;
  background-color: rgb(30, 115, 251);
  color: white;
  border: none;
  font-size: 1.5rem;
}